# =====================
# Frontend (React)
# =====================
node_modules/
dist/

# =====================
# Backend (.NET)
# =====================
.vs/
bin/
obj/
publish/

# =====================
# Environment files
# =====================
.env
appsettings.Development.json

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db
